<h4>Are you sure you want to delete this host from <%=@network%>?</h4>
<div>
  <form action="/network/<%=@network%>/hosts/<%=@hostname%>/delete" method="post" class="well">
    <table>
      <tr>
        <td align="left"><b>Hostname: &nbsp;</b></td>
        <td align="left"><input type="text" name="hostname" value="<%=@hostname%>" readonly><br></td>
      </tr>
      <tr>
        <td align="left"><b>IP: &nbsp;</b></td>
        <td align="left"><input type="text" name="ip" value="<%=@host['ip']%>"><br></td>
      </tr>
      <tr>
        <td align="left"><b>MAC: &nbsp;</b></td>
        <td align="left"><input type="text" name="mac" value="<%=@host['mac']%>"><br></td>
      </tr>
      <tr>
        <td align="left"><br><input type="submit" value="Delete"></td>
        <td align="left"><br><input class="button" type="button" onclick="window.location.replace('/network/<%=@network%>')"></td>
      </tr>
    </table>
    <td><input type="hidden" name="network" value="<%=@network%>"</td>
  </form>
